.App {
  text-align: center;
  background-color: #EBD6D7 ;
  font-family: sans-serif;
  padding-bottom: 17rem;
  justify-content: center;
  align-items: center;

}
.title {
  display:flexbox;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  color: #439093;
  margin-bottom: 3%;
}
.subtitle {
  color: #F09B93;
  font-size: 27px ;
  font-family: sans-serif;
  font-weight: bold;
  margin-bottom: 4%;
}
.container {
  background-color: white;
  width: 600px;
  border-radius: 10px;
  margin: auto;
}
.form {
 text-align:left;
 color: #439093;
 font-weight: bold;
 padding: 20px;
}
.label {
  margin-left: 35px;
  font-size: 20px;
}
.input {
  margin-left: 35px;
  display: flex;
  border:1px solid;
  border-color: #F09B93;
  border-radius: 3px;
  height: 20px;
  width: 250px;
  font-size: 12px;
  margin-bottom:  25px;
}
.button {
  background-color: #F09B93;
  border:none;
  color: #FFFFFF;
  border-radius: 5px;
  font-size: 20px;
  margin-right: 20px;
}





